<!DOCTYPE html>
<html lang="en">

<head>
    <title>Twitter Feed View</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
</head>

<body>
    <div class="tweet-container" id="tweet-container">
        <!-- Tweets will be populated here -->
        <div class="tweet">
            <div class="user-info">
                <img class="user-avatar"
                    src="https://pbs.twimg.com/profile_images/971150568210292736/x1cCrJpq_normal.jpg" alt="User Avatar">
                <div>
                    <div class="user-name">Programmers Meme</div>
                    <div class="user-handle">ProgrammersMeme</div>
                </div>
            </div>
            <div class="tweet-content">Mindset</div>
            <img class="tweet-image" src="https://pbs.twimg.com/media/F54wKVQXUAAm1M0?format=webp&name=small"
                alt="Tweet Image">
            <div class="tweet-actions">
                <i class="fa fa-heart" style="font-size:18px">
                    <label id="action-value">2</label> </i>
                <i class="fa fa-share" style="font-size:18px"> <label id="action-value">3</label>
                </i>
            </div>
        </div>
    </div>
</body>

</html>